/*header {
   background: url(../img/CAT.png) center no-repeat;
   background-size: contain;
   width: 55.7%;
   margin: auto;
   position: relative;
   padding-top: 40px;
   padding-right: 40px;
   padding-left: 40px;
   min-height: 845px;
} */


header h1 {
  font-family: "coolvetica";
  letter-spacing: 4px;
  color: #ffffff;
  font-size: 8vw;
  position: absolute;
  margin-top: 80px;
  margin-left: 40px;
}
