body {
  font-family: sans-serif;
  background-color: #027f9f;
}

p {
  background-color: #fff;
  opacity: 0.8;
  border-radius: 25px;
  padding: 60px;
  width: 550px;
  margin-left: 80px;
  border-top: 180px solid #fff;
  line-height: 1.6;
  font-family: "Century Gothic";
  font-weight: 400;
  font-size: 20px;
  color: #004963;
}

.portrait{
  border-radius: 90px;
  text-align: center;
  border-color: rgba(123,189,215,0.8);
  border-style: solid;
  border-width: thick;
  position: absolute;
  top: 110px;
  left: 180px;
  z-index: 1;
}

.about_txt{
  padding-right: 200px;
}

.size{
  width: 160px;
  height: 160px;
  line-height: 160px;
  font-size: 40px;
  padding: 0;
  margin: 0;
  margin-left: -5px;
}

.home,
.contact {
  background-repeat: no-repeat;
  background-position: center;
}

.portfolio{
  background-image: none;
  background-color: #027f9f;
  background-size: 100px 100px;
}

.weight{
  font-size: 40px;
  width: 700px;
  color: #004963;
  font-family: "coolvetica";
  position: relative;
}

.blue-monster {
  width: 90%;
  height: 800px;
  background-image: url('../img/cat.png');
  background-color: #004963;
  background-size: 550px 550px;
  background-position: 90px 300px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  /*position: absolute;
  z-index: 1;*/
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  z-index: 1;
}

.txt{
  background-color: #fff;
  opacity: 0.8;
  border-radius: 25px;
  padding: 50px;
  width: 700px;
  margin-left: 80px;
  border-top: 0px solid #fff;
  line-height: 1.6;
  font-family: "Century Gothic", sans-serif;
  font-weight: 700;
  color: #004963;
  text-align: center;
  z-index: 2;
}
